<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        .s003 {
            min-height: 100vh;
            font-family: 'Poppins', sans-serif;
            background-color: #a598ee;
            background-size: cover;


        }


    </style>
</head>

<body>

    <section class="section s003">
        <div class="container ">
            <div class="columns">
                <div class="column is-offset-4 is-4 formdiv">

                        <div class="field has-addons">
                            <div>
                            <select name="model-name" id="model-name" value="Naive">
                                <option value="Naive">Naive</option>
                                <option value="SVM">SVM</option>
                              </select>
                        </div>
                            <div class="active-pink-3 active-pink-4 mb-4" >
                                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                            </div>

                            <div class="control">

                                <button class="btn btn-success" onclick="handleInput()">
                                    Search
                                </button>

                            </div>
                        </div>


                </div>
            </div>
        </div>
    </section>

<script>
var serialzerdata = JSON.parse(("{{serialzerdata |safe }}").replace(/'/g, '"'));
genList();
var api_url = 'http://127.0.0.1:8000/api/'
   function handleInput(e){
     let inputTextElm = document.getElementById("input-text");
     let modelNameElm = document.getElementById("model-name");
     let objRequest = {
        field_name: inputTextElm.value,
        model_name: modelNameElm.value
     };
     fetch(api_url, {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
            },
          body: JSON.stringify(objRequest)
    }).then(() => {
        getData();
    });
   }

   function handleDelete(e, id){
    fetch(api_url+'detail/' + id, {
          method: 'DELETE',
        })
        .then(res => {
            setTimeout(() => e.remove(), 500)
        })
   }

   function getData(){
    fetch(api_url)
    .then(res => res.json())
    .then(res => {
            serialzerdata = res;
            genList();
    })
   }

   function genList(){
        let res = "";
        serialzerdata.forEach(e => {
            res += `
                 <div class="box" onclick="handleDelete(this, ${e.id})">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/10d.png" alt="Image">
                                </figure>
                            </div>

                            <div class="media-content">

                                <div class="content">
                                    <p>
                                        <span class="title">${e.model_name}

                                        </span>
                                        <br>
                                        <span class="subtitle">${e.title}</span>
                                        <br>

                                    </p>
                                </div>

                            </div>

                        </article>
                    </div>
            `
        });
        document.getElementById("iList").innerHTML = res;
   }
</script>
</body>

</html>